What's the right way to make this environment variable persist? I get different results in other sessions and that causes the string to be read incorrectly

In [1]:
import os
import pandas as pd
import sqlalchemy as sqla
from sqlalchemy import create_engine

SBA_DWH = os.getenv('SBA_DWH')
engine = create_engine(SBA_DWH)

Create table comments. In postgres, there's no limit to comment length.

In [8]:
QUERY = """
COMMENT ON TABLE stg_analytics.sba_sfdo IS 'Staging table containing the combined SBA data for the Bay Area'


;
--SQL Alchemy throws an error unless rows are returned. This works around the issue
SELECT count(*)
FROM stg_analytics.sba_sfdo 
LIMIT 1
"""

with engine.begin() as conn:
    results = pd.read_sql(QUERY, conn)
results.head(100)

   count
0  44180

Create comments on table and columns in stg_analytics.sba_sfdo

In [9]:
QUERY = """
COMMENT ON TABLE stg_analytics.sba_sfdo IS 'Staging table containing the combined SBA data for the Bay Area'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.program IS 'Indicator of whether loan was approved under SBA''s 7(a) or 504 loan program'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.borr_name IS 'Borrower name'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.borr_street IS 'Borrower street address'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.borr_city IS 'Borrower city'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.borr_state IS 'Borrower state'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.borr_zip IS 'Borrower zip code'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.gross_approval IS 'SBA/CDC loan amount'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.approval_date IS 'Date the loan was approved'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.approval_fiscal_year IS 'Fiscal year the loan was approved'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.first_disbursement_date IS 'Date of first loan disbursement (if available)'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.delivery_method IS 'Specific delivery method loan was approved under.  See SOP 50 10 5 for definitions and rules for each delivery method.'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.subprogram_description IS 'Subprogram description - specific subprogram loan was aproved under.  See SOP 50 10 5 for definitions and rules for each subprogram.'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.initial_interest_rate IS 'Initial interest rate - total interest rate (base rate plus spread) at time loan was approved'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.term_in_months IS 'Length of loan term'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.naics_code IS 'North American Industry Classification System (NAICS) code'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.naics_description IS 'North American Industry Classification System (NAICS) description'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.franchise_code IS 'Franchise Code'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.franchise_name IS 'Franchise Name'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.project_county IS 'County where project occurs'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.project_state IS 'State where project occurs'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.sba_district_office IS 'SBA district office for the loan'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.congressional_district IS 'Congressional district office, within each state, for the borrower address'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.business_type IS 'Borrower Business Type - Individual, Partnership, or Corporation'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.loan_status IS 'Status of the loan. PIF=Paid in Full; EXEMPT=Not Disclosed, treat like Unknown; CHGOFF=Charged Off; NOT FUNDED=Not yet disbursed; CANCLED=Cancelled'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.chargeoff_date IS 'Date SBA charged off loan'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.gross_chargeoff_amount IS 'Total loan balance charged off (includes guaranteed and non-guaranteed portion of loan)'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.jobs_supported IS 'Total Jobs Created + Jobs Retained as reported by lender on SBA Loan Application.  SBA does not review, audit, or validate these numbers - they are simply self-reported, good faith estimates by the lender.'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.cdc_name IS 'Community Development Corporation name'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.cdc_street IS 'Community Development Corporation street address'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.cdc_city IS 'Community Development Corporation city'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.cdc_state IS 'Community Development Corporation state'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.cdc_zip IS 'Community Development Corporation zip code'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.third_party_lender_name IS 'Third Party Lender name'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.third_party_lender_city IS 'Third Party Lender city'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.third_party_lender_state IS 'Third Party Lender state'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.third_party_dollars IS 'Third Party loan amount'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.bank_name IS 'Bank name'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.bank_street IS 'Bank street address'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.bank_city IS 'Bank city'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.bank_state IS 'Bank state'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.bank_zip IS 'Bank zip code'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.sba_guaranteed_approval IS 'Amount of SBA''s loan guaranty'
;COMMENT ON COLUMN stg_analytics.sba_sfdo.revolver_status IS 'Indicator of whether a loan is a term loan or revolving line of credit (0=Term, 1=Revolver)'

 


;
--SQL Alchemy throws an error unless rows are returned. This works around the issue
SELECT count(*)
FROM stg_analytics.sba_sfdo 
LIMIT 1
"""

with engine.begin() as conn:
    results = pd.read_sql(QUERY, conn)
results.head(100)

   count
0  44180

Returns table comments

Get table comments. 

In future, this should be made iterable, postgres has a limitation to selecting the table comment through a function

In [123]:
QUERY = """

SELECT 
    'data_ingest.census__zip_business_patterns' as table
    ,obj_description('data_ingest.census__zip_business_patterns'::regclass) as description
    
UNION
                  
SELECT 
    'data_ingest.irs__zip_data' as table
    ,obj_description('data_ingest.irs__zip_data'::regclass) as description
    
UNION

SELECT 
    'data_ingest.sba__foia_504_1991_present' as table
    ,obj_description('data_ingest.sba__foia_504_1991_present'::regclass) as description
          
UNION

SELECT 
    'data_ingest.sba__foia_7a_1991_1999' as table
    ,obj_description('data_ingest.sba__foia_7a_1991_1999'::regclass) as description
             
UNION

SELECT 
    'data_ingest.sba__foia_7a_2000_2009' as table
    ,obj_description('data_ingest.sba__foia_7a_2000_2009'::regclass) as description
             
UNION

SELECT 
    'data_ingest.sba__foia_7a_2010_present' as table
    ,obj_description('data_ingest.sba__foia_7a_2010_present'::regclass) as description
    
UNION

SELECT 
    'stg_analytics.census_naics' as table
    ,obj_description('stg_analytics.census_naics'::regclass) as description
               
UNION

SELECT 
    'stg_analytics.irs_income' as table
    ,obj_description('stg_analytics.irs_income'::regclass) as description

UNION

SELECT 
    'stg_analytics.sba_sfdo' as table
    ,obj_description('stg_analytics.sba_sfdo'::regclass) as description
                       
UNION

SELECT 
    'trg_analytics.sba_zip_level' as table
    ,obj_description('trg_analytics.sba_zip_level'::regclass) as description
                      
"""



with engine.begin() as conn:
    df_tables = pd.read_sql(QUERY, conn)

Get column comments

In [121]:
QUERY = """
SELECT c.table_schema,c.table_name,c.column_name,pgd.description
FROM pg_catalog.pg_statio_all_tables as st
  inner join pg_catalog.pg_description pgd on (pgd.objoid=st.relid)
  right join information_schema.columns c on (pgd.objsubid=c.ordinal_position
    and  c.table_schema=st.schemaname and c.table_name=st.relname)
where c.table_schema not in ('information_schema', 'pg_catalog', 'public')
"""


with engine.begin() as conn:
    df_columns = pd.read_sql(QUERY, conn)

,table_schema,table_name,column_name,description
0,data_ingest,sba__foia_7a_2000_2009,program,None
1,data_ingest,sba__foia_7a_2000_2009,borr_name,None
2,data_ingest,sba__foia_7a_2000_2009,borr_street,None
3,data_ingest,sba__foia_7a_2000_2009,borr_city,None
4,stg_analytics,sba_sfdo,program,Indicator of whether loan was approved under S...
5,stg_analytics,sba_sfdo,borr_name,Borrower name
6,stg_analytics,sba_sfdo,borr_street,Borrower street address
7,stg_analytics,sba_sfdo,borr_city,Borrower city
8,stg_analytics,sba_sfdo,borr_state,Borrower state
9,stg_analytics,sba_sfdo,borr_zip,Borrower zip code
10,stg_analytics,sba_sfdo,gross_approval,SBA/CDC loan amount
11,stg_analytics,sba_sfdo,approval_date,Date the loan was approved
12,stg_analytics,sba_sfdo,approval_fiscal_year,Fiscal year the loan was approved
13,stg_analytics,sba_sfdo,first_disbursement_date,Date of first loan disbursement (if available)
14,stg_analytics,sba_sfdo,delivery_method,Specific delivery method loan was approved und...
15,stg_analytics,sba_sfdo,subprogram_description,Subprogram description - specific subprogram l...
16,stg_analytics,sba_sfdo,initial_interest_rate,Initial interest rate - total interest rate (b...
17,stg_analytics,sba_sfdo,term_in_months,Length of loan term
18,stg_analytics,sba_sfdo,naics_code,North American Industry Classification System ...
19,stg_analytics,sba_sfdo,naics_description,North American Industry Classification System ...
20,stg_analytics,sba_sfdo,franchise_code,Franchise Code
21,stg_analytics,sba_sfdo,franchise_name,Franchise Name
22,stg_analytics,sba_sfdo,project_county,County where project occurs
23,stg_analytics,sba_sfdo,project_state,State where project occurs
24,stg_analytics,sba_sfdo,sba_district_office,SBA district office for the loan
25,stg_analytics,sba_sfdo,congressional_district,"Congressional district office, within each sta..."
26,stg_analytics,sba_sfdo,business_type,"Borrower Business Type - Individual, Partnersh..."
27,stg_analytics,sba_sfdo,loan_status,Status of the loan. PIF=Paid in Full; EXEMPT=N...
28,stg_analytics,sba_sfdo,chargeoff_date,Date SBA charged off loan
29,stg_analytics,sba_sfdo,gross_chargeoff_amount,Total loan balance charged off (includes guara...
...,...,...,...,...
307,data_ingest,irs__zip_data,n85770,None
308,data_ingest,irs__zip_data,a85770,None
309,data_ingest,irs__zip_data,n85775,None
310,data_ingest,irs__zip_data,a85775,None
311,data_ingest,irs__zip_data,n09750,None
312,data_ingest,irs__zip_data,a09750,None
313,data_ingest,irs__zip_data,n10600,None
314,data_ingest,irs__zip_data,a10600,None
315,data_ingest,irs__zip_data,n59660,None
316,data_ingest,irs__zip_data,a59660,None
317,data_ingest,irs__zip_data,n59720,None
318,data_ingest,irs__zip_data,a59720,None
319,data_ingest,irs__zip_data,n11070,None
320,data_ingest,irs__zip_data,a11070,None
321,data_ingest,irs__zip_data,n10960,None
322,data_ingest,irs__zip_data,a10960,None
323,data_ingest,irs__zip_data,n11560,None
324,data_ingest,irs__zip_data,a11560,None
325,data_ingest,irs__zip_data,n06500,None
326,data_ingest,irs__zip_data,a06500,None
327,data_ingest,irs__zip_data,n10300,None
328,data_ingest,irs__zip_data,a10300,None
329,data_ingest,irs__zip_data,n85530,None
330,data_ingest,irs__zip_data,a85530,None
331,data_ingest,irs__zip_data,n85300,None
332,data_ingest,irs__zip_data,a85300,None
333,data_ingest,irs__zip_data,n11901,None
334,data_ingest,irs__zip_data,a11901,None
335,data_ingest,irs__zip_data,n11902,None
336,data_ingest,irs__zip_data,a11902,None

Write to excel

In [125]:
writer = pd.ExcelWriter('data_dictionary.xlsx')
df_tables.to_excel(writer,'tables')
df_columns.to_excel(writer,'columns')

writer.save()